#WEsnapshot label {
  display: inline-block;
  width: 6em;
  text-align: right;
  margin-right: 1em;
}

#WEsnapshot ul {
  list-style: none;
  padding: 0;
}

.snapresponse {
  margin: 1ex 0 0 9em;
}

#WEsnapshot .note {
  font-size: smaller;
}

